# Rust
/target
**/*.rs.bk
Cargo.lock

# Node
node_modules/
.DS_Store

# Assets (if generated)
assets/sounds/
app/static/sounds/
**/*.wav
.create-keystore.sh
app/src-tauri/gen/android/app/*.jks


# IDEs
.vscode/
.idea/
